# This project is libre, and licenced under the terms of the
# DO WHAT THE FUCK YOU WANT TO PUBLIC LICENCE, version 3.1,
# as published by dtf on July 2019. See the COPYING file or
# https://ph.dtf.wtf/w/wtfpl/#version-3-1 for more details.

!!! 5
%html
    %head
        %title API tester
        %script{type: 'text/javascript', src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'}
        %script{type: 'text/javascript', src: 'results.js'}
    %body
        %section#requests 
            - storage.each do |stored|
                %subsection.stored
                    .form
                        %input{type: :text, name: :url, placeholder: 'http://localhost:4567'}
                        %button{name: :send} send
                    %pre= stored
                %br
                %hr
                %br